*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(fotos/cloud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* de nav bar*/
nav{
    width: 100%;
    height: 60px;
    background-color:rgba(29, 28, 28);
    opacity: .8;
}    
nav p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}

nav ul{
    float: left;
}
nav ul li{
    float: left;
    list-style: none;
    position: relative;
   opacity: .8;
}

nav ul li a{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    padding: 18px 14px;
    text-decoration: none;
}

nav ul li ul{
    display: none;
    position: absolute; 
    background-color: rgba(29, 28, 28);
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li a{
    width: 180px;
    border-radius: 4px;
}

nav ul li ul li a{
    padding: 14px 16px;
}

nav ul li ul li a:hover{
    background-color: navy;
}

#DEtodolist
{
    position: relative;
    left: 500px;
    width: 400px;
    top: 200px;
}
#todolist
{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
}
#button
{
    padding: 10px;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
#todotxt
{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 45%;
    padding: 10px;
    font-size: 16px;
}
#yourtext
{
    text-align: center;
}
#add-head
{
    color: white;
    background-color: rgba(29, 28, 28, 0.884);
}
/* dat de site responsive maakt*/
@media only screen and (max-width: 400px){
    body{
        background-color: rgba(29, 28, 28);
        background-repeat: no-repeat;
        background-size: cover;
    }
    nav{
        width: 250%;
        height: 60px;
        background-color: rgba(29, 28, 28);
        opacity: .8;
    }    
    nav p{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 18px;
        line-height: 55px;
        float: left;
        padding: 0px 20px;
    }
    nav ul{
        float: left;
    }
    nav ul li{
        float: left;
        list-style: none;
        position: relative;
        opacity: 1;
    }
    
    nav ul li a{
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 18px;
        padding: 24px 14px;
        text-decoration: none;
    }
    
    nav ul li ul{
        display: none;
        position: absolute; 
        background-color: rgba(29, 28, 28);
        padding: 10px;
        border-radius: 0px 0px 4px 4px;
    }
    
    nav ul li:hover ul{
        display: block;
    }
    
    nav ul li ul li a{
        width: 180px;
        border-radius: 4px;
    }
    
    nav ul li ul li a{
        padding: 14px 16px;
    }
    
    nav ul li ul li a:hover{
        background-color: navy;
    }
#DEtodolist
{
    position: relative;
    left: 100px;
    width: 500px;
    top: 200px;
}
#todolist
{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
}
#button
{
    padding: 10px;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
#todotxt
{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 45%;
    padding: 10px;
    font-size: 16px;
}
#yourtext
{
    text-align: center;
}
#add-head
{
    color: white;
    background-color: rgba(29, 28, 28, 0.884);
}
}